body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: steelblue;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: steelblue;
    padding: 10px;
  }
  
  nav a {
    color: white;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
  }
  
  main {
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
  }
  
  aside {
    width: 300px;
    margin: 20px;
    border: 1px solid steelblue;
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
  }
  
  main img {
    width: 150px;
    height: auto;
  }

  p {
    padding: 0;
  }
  
  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }
  